[IRC]
server="irc.freenode.net"
port=6667
UseTLS=false
SkipTLSVerify=true
nick="matterbot"
channel="#matterbridge"
password=""
SendMUserName=true

[mattermost]
url="http://yourdomain/hooks/yourhookkey"
port=9999
showjoinpart=true
#token=yourtokenfrommattermost
IconURL="http://youricon.png"
#SkipTLSVerify=true
IrcNickPrefix="irc-"

[general]
GiphyAPIKey=dc6zaTOxFJmzC
