[IRC]
server="irc.freenode.net"
port=6667
UseTLS=false
SkipTLSVerify=true
nick="matterbot"
channel="#matterbridge"
UseSlackCircumfix=false

[mattermost]
url="http://yourdomain/hooks/yourhookkey"
port=9999
showjoinpart=true
#remove token when using multiple channels!
token=yourtokenfrommattermost
IconURL="http://youricon.png"
#SkipTLSVerify=true
#BindAddress="0.0.0.0"
PrefixMessagesWithNick=false
NickFormatter=plain
NicksPerRow=4
#NickServNick="nickserv"
#NickServPassword="secret"

[general]
GiphyAPIKey=dc6zaTOxFJmzC

#multiple channel config
#token you can find in your outgoing webhook
[Token "outgoingwebhooktoken1"] 
IRCChannel="#off-topic"
MMChannel="off-topic"

[Token "outgoingwebhooktoken2"]
IRCChannel="#testing"
MMChannel="testing"

